/* Reset CSS */
/* comment */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-top: 0px;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {

}
/*begin: header*/
#header {
    height: 100px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
}
/*logo*/
.logo {
    align-self: center;
    padding-left: 50px;
    padding-right: 50px;
}
/*navbar*/
#nav {
    /*display: inline-block;*/
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
}

#nav, .subnav {
    list-style-type: none;
    float: left;
}
#nav li {
    display: inline-block;
    position: relative;
}

#nav li a {
    color: black;
    text-decoration: none;
    line-height: 96px;
    padding: 0 16px;
    display: inline-block;
    font-size: 16px;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color:blue
}

#nav .subnav {
    display: none;
    position: absolute;
    width: 100px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 45px;
}

#nav .subnav a {
    color: black;
    padding: 0 6px;
    line-height: 40px;
}

#nav .nav-angle-down {
    font-size: 12px;
}
/*search*/
#header .search-btn {
    float: right;
    padding: 0 24px;
    display: flex;
}

#header .search-icon {
    font-size: 20px;
    line-height: 96px;
    cursor: pointer;
}

.search-icon:hover {
    color: blue;
}

.search-btn i {
    display: inline-block;
    position: relative;
}

.header-search {
    height: 60px;
    width: 245px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: 100px;
    display: flex;
    position: absolute;
    display: none;
}

.header-search .header-search-input {
    border: none;
    outline: none;
    flex: 1;
    height: 90%;
    width: 70%;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0 16px;
    align-self: center;
}

.header-search .header-search-btn {
    background-color: blue;
    height: 80%;
    align-self: center;
    border-radius: 10px;
    width: 63px;
    margin-right: 8px;
}

.header-search-btn:hover {
    background-color: rgba(0, 0, 255, 0.758);
}
.header-search-button {
    font-size: 1.4rem;
    color: white;
    height: 80%;
    width: 30px; 
    margin-top: 10px;
}

.search-icon:focus ~ .header-search{
    display: contents;
}

/*login*/
.login{
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
}

.login-style {
    color: black;
}

.login-style:hover {
    color: rgb(61, 111, 250);
}

.user {
    font-size: 23px;
}

/*Giỏ hàng*/
.cart-btn {
    border: none;
    outline: none;
    background-color: white;
    padding: 8px;
}

.cart-link {
    display: flex;
    align-items: center;
    border: 1px solid rgb(61, 111, 250);
    text-decoration: none;
    color: rgb(61, 111, 250) ;
    font-size: 1rem;
    background-color: white;
    padding: 8px;
    margin-right: 42px;
    border-radius: 5px;
}

.cart-link:hover {
    background-color: rgb(61, 111, 250);
    color: white;
}

.cart-icon {
    font-size: 23px;
}

/*end: header*/

/*slider*/
.slider{
    position: relative;
    height: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 130px;

}

.slider .img{
    position:absolute;
    height: 100%;
    width: 100%;
    
}

.slider .img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    clip-path: circle(0% at 0% 100%);
    transition: all 0.7s;
}
.slide1 {
    border-radius: 10px;
}
#one:checked ~ .slide1 img{
    clip-path: circle(150% at 0% 100%);
}

#two:checked ~ .slide1 img,
#two:checked ~ .slide2 img{
    clip-path: circle(150% at 0% 100%);
}

#one {
    display: none;
}

#two {
    display: none;
}

.slider .sliders{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: flex;
}

.slider .sliders label{
    height: 13px;
    width: 13px;
    border: 2px solid gray;
    margin: 0 3px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.sliders label:hover{
    background: gray;
}
/*end: slider*/

/*content*/
.discount-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0 16px;
    margin-top: 30px;
    border-radius: 3px;
}
/*end: content*/

/*container*/
.grid {
    width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid__column-2 {
    width: 250px;
    padding: 0 12px;
    margin: 12px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.grid_column12{
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.home-product-item {
    margin-top: 48px;

}

.home-product-item-img {
    padding-top: 380px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid gray;
    border-radius: 5px;
}

.home-product-item-name {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 10px;
    overflow: hidden;
    display:block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: rgb(0, 47, 255);
}

.home-product-item-price {
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    color: black;
}

.home-product-item-price-so {
    font-size: 1rem; 
    color: rgb(183, 0, 0);
}

.home-product-item-price-donvi {
    font-size: 0.8rem;
    color: rgb(183, 0, 0);
}

.home-product-item-action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
    font-size: 0.9rem;
}

.home-product-rating {
    
}

i.home-product-item-star-fill {
    color: rgb(238, 10, 10);
    display: none;
}

.home-product-rating--liked .home-product-item-star-fill {
    display: inline-block;
}

.home-product-rating--liked .home-product-item-star-empty {
    display: none;
}
.home-product-item-comment {
    font-size: 0.9rem;
    color: rgba(128, 128, 128, 0.903);
}

/*end: container*/

/*footer*/
#footer{
    display: flex;
    margin: 45px;
    padding: 24px 0;
    border-top: 2px solid rgb(209, 208, 208);
    border-bottom: 2px solid rgb(209, 208, 208);
    justify-content: flex-start;
}

.company{
    flex-direction: column;
}

.company-header {
    color: rgba(75, 111, 242, 0.797);
    font-size: 20px;
    padding-bottom: 2px;
}

.company li {
    color: black;
    list-style-type: none;
    font-size: 13px;
    padding: 8px 0;
}

.company h5 {
    color: rgba(75, 111, 242, 0.623);
    padding: 12px 0;
    font-size: 15px;
}

.custom-service {
    padding-left: 100px;
}

.custom-service-header {
    font-size: 20px;
    color: rgba(75, 111, 242, 0.797);
    padding-bottom: 2px;
    text-decoration: none;
}

.custom-service li {
    color: black;
    font-size: 13px;
    padding: 8px;
}

.footer-img {
    margin-left: 150px;
    width: 300px;
    height: 150px;
}

.footer-button{
    display: flex;
    flex-wrap: wrap;
}
.square-button {
    height: 0.1px;
    width: 2px;
}
/*end: footer*/

